#### 시간별 데이터 수집

In [1]:
import json
import datetime
import requests
import pandas as pd

# 팍스넷에서 데이터 주어옴.

# stock_no = "226490"
# file_name = "data_kodex_kospi"
# rename_prefix = "KDX"

stock_no = "114800"
file_name = "data_kodex_kospi_inverse"
rename_prefix = "KDI"

url = "http://www.paxnet.co.kr/stock/analysis/chart?abbrSymbol={}".format(stock_no)
res = requests.get(url)
result = res.text.split("var sise60minJson = \'")[1].split("\';\r\n \t")[0]
json_res = json.loads(result)
df_src = pd.DataFrame(json_res["body"]["chartDataList"])

In [2]:
df = df_src.copy()
date_list = [str(datetime.datetime.fromtimestamp(x)).split(" ")[0] for x in df["tradeDt"]]
time_list = [str(datetime.datetime.fromtimestamp(x)).split(" ")[1].split(":")[0] for x in df["tradeDt"]]
df["date"] = date_list
df["time"] = time_list
df["datetime"] = df["date"].str.replace("-", "") + df["time"]
df = df[['date', 'time', 'datetime', 'openPrice', 'closePrice', 'highPrice', 'lowPrice', 'volume']]
df.rename(columns={
    "date" : "DATE",
    "time" : "TIME",
    "datetime" : "DATETIME",    
    "openPrice" : "{}_OPN".format(rename_prefix),
    "closePrice" : "{}_CLS".format(rename_prefix),
    "highPrice" : "{}_HIGH".format(rename_prefix),
    "lowPrice" : "{}_LOW".format(rename_prefix),
    "volume" : "{}_VOL".format(rename_prefix)
}, inplace=True)

df_old = pd.read_excel("{}.xlsx".format(file_name))
df_new = pd.concat([df_old, df], axis=0, ignore_index=True)
df_new["DATETIME_INT"] = df_new["DATETIME"].astype("int")
df_new.drop_duplicates(["DATETIME_INT"], inplace=True)
df_new.drop(columns=["DATETIME_INT"], inplace=True)
df_new.reset_index(drop=True, inplace=True)
df_new.to_excel("{}.xlsx".format(file_name), index=False)

#### 일자별 데이터 수집

In [2]:
import json
import datetime
import requests
import pandas as pd

# stock_no = "226490"
# file_name = "data_kodex_kospi_by_day"
# rename_prefix = "KDX"

stock_no = "114800"
file_name = "data_kodex_kospi_inverse_by_day"
rename_prefix = "KDI"

url = "http://www.paxnet.co.kr/stock/analysis/chart?abbrSymbol={}".format(stock_no)
res = requests.get(url)
result = res.text.split("var siseDayJson = \'")[1].split("\';\r\n \t")[0]
json_res = json.loads(result)
df_src = pd.DataFrame(json_res["body"]["chartDataList"])

df = df_src.copy()
date_list = [str(datetime.datetime.fromtimestamp(x)).split(" ")[0] for x in df["tradeDt"]]
time_list = [str(datetime.datetime.fromtimestamp(x)).split(" ")[1].split(":")[0] for x in df["tradeDt"]]
df["date"] = date_list
df["time"] = time_list
df["datetime"] = df["date"].str.replace("-", "") + df["time"]
df = df[['date', 'time', 'datetime', 'openPrice', 'closePrice', 'highPrice', 'lowPrice', 'volume']]
df.rename(columns={
    "date" : "DATE",
    "time" : "TIME",
    "datetime" : "DATETIME",    
    "openPrice" : "{}_OPN".format(rename_prefix),
    "closePrice" : "{}_CLS".format(rename_prefix),
    "highPrice" : "{}_HIGH".format(rename_prefix),
    "lowPrice" : "{}_LOW".format(rename_prefix),
    "volume" : "{}_VOL".format(rename_prefix)
}, inplace=True)

try:
    df_old = pd.read_excel("{}.xlsx".format(file_name))
except:
    df_new = df.copy()
else:
    df_new = pd.concat([df_old, df], axis=0, ignore_index=True)

df_new["DATETIME_INT"] = df_new["DATETIME"].astype("int")
df_new.drop_duplicates(["DATETIME_INT"], inplace=True)
df_new.drop(columns=["DATETIME_INT"], inplace=True)
df_new.reset_index(drop=True, inplace=True)
df_new.to_excel("{}.xlsx".format(file_name), index=False)
df_new

,DATE,TIME,DATETIME,KDI_OPN,KDI_CLS,KDI_HIGH,KDI_LOW,KDI_VOL
0,2018-05-18,18,2018051818,6145,6135,6165,6135,5206379.0
1,2018-05-21,18,2018052118,6130,6135,6185,6115,5707844.0
2,2018-05-23,18,2018052318,6140,6090,6145,6090,5391745.0
3,2018-05-24,18,2018052418,6075,6115,6130,6075,3346092.0
4,2018-05-25,18,2018052518,6145,6095,6145,6090,5608692.0
...,...,...,...,...,...,...,...,...
1010,2022-06-27,18,2022062718,4920,4890,4965,4850,39915300.0
1011,2022-06-28,18,2022062818,4890,4855,4915,4855,41174970.0
1012,2022-06-29,18,2022062918,4910,4940,4945,4895,39964014.0
1013,2022-06-30,18,2022063018,4965,5025,5025,4955,38563580.0
1014,2022-07-01,18,2022070118,5000,5090,5110,4965,35554427.0