In [1]:
import random
import numpy as np
import pandas as pd
import tensorflow as tf

In [2]:
df_kodex = pd.read_excel("crawled_data_kodex.xlsx")
df_kodex = df_kodex.loc[:, ["date", "KODEX_CLS", "KODEX_OPN", "KODEX_GAP"]]
df_kodex

            date  KODEX_CLS  KODEX_OPN  KODEX_GAP
0     2015-10-12      20215      20250         35
1     2015-10-13      20195      20175        -20
2     2015-10-14      20070      20150         80
3     2015-10-15      20315      20235        -80
4     2015-10-16      20285      20315         30
...          ...        ...        ...        ...
1638  2022-04-04      28280      28060       -220
1639  2022-04-05      28255      28340         85
1640  2022-04-06      28010      28055         45
1641  2022-04-07      27660      27860        200
1642  2022-04-08      27670      27710         40

[1643 rows x 4 columns]

In [3]:
df_kodex_inv = pd.read_excel("crawled_data_kodex_inv.xlsx")
df_kodex_inv = df_kodex_inv.loc[:, ["date", "KODEX_INV_CLS", "KODEX_INV_OPN", "KODEX_INV_GAP"]]
df_kodex_inv

            date  KODEX_INV_CLS  KODEX_INV_OPN  KODEX_INV_GAP
0     2013-10-10           7555           7535            -20
1     2013-10-11           7420           7485             65
2     2013-10-14           7425           7425              0
3     2013-10-15           7365           7385             20
4     2013-10-16           7360           7355             -5
...          ...            ...            ...            ...
2501  2022-04-04           4275           4315             40
2502  2022-04-05           4280           4260            -20
2503  2022-04-06           4325           4310            -15
2504  2022-04-07           4385           4360            -25
2505  2022-04-08           4385           4375            -10

[2506 rows x 4 columns]

In [4]:
df_kospi = pd.read_excel("crawled_data.xlsx")
df_kospi.dropna(inplace=True)
df_kospi.sort_values("date", inplace=True)
df_kospi.reset_index(drop=True, inplace=True)
df_kospi = df_kospi.iloc[:, 1:6]
df_kospi

            date    KOSPI  KOSPI_START  KOSPI_HIGH  KOSPI_LOW
0     2010-05-13  1694.58      1683.76     1700.00    1682.91
1     2010-05-14  1695.63      1685.75     1699.59    1677.44
2     2010-05-17  1651.51      1668.57     1673.01    1644.71
3     2010-05-18  1643.24      1662.31     1663.15    1629.35
4     2010-05-19  1630.08      1621.32     1630.31    1601.54
...          ...      ...          ...         ...        ...
2840  2022-04-04  2757.90      2729.86     2758.38    2722.45
2841  2022-04-05  2759.20      2765.50     2769.18    2750.50
2842  2022-04-06  2735.03      2739.07     2747.85    2730.66
2843  2022-04-07  2695.86      2714.70     2718.50    2693.36
2844  2022-04-08  2700.39      2706.64     2712.00    2685.52

[2845 rows x 5 columns]

In [5]:
#2021년 데이터로 학습한다.
df = df_kospi.merge(df_kodex, how="right", on="date")
df = df.merge(df_kodex_inv, how="left", on="date")
df.dropna(inplace=True)
df.sort_values("date", inplace=True)
df.reset_index(drop=True, inplace=True)

df["date"] = pd.to_datetime(df["date"])
df = df[(df["date"] >= "2021-01-01") & (df["date"] <= "2021-12-31")]
df.reset_index(drop=True, inplace=True)
df

,date,KOSPI,KOSPI_START,KOSPI_HIGH,KOSPI_LOW,KODEX_CLS,KODEX_OPN,KODEX_GAP,KODEX_INV_CLS,KODEX_INV_OPN,KODEX_INV_GAP
0,2021-01-04,2944.45,2874.50,2946.54,2869.11,29850,29320,-530,4145.0,4260.0,115.0
1,2021-01-05,2990.57,2943.67,2990.57,2921.84,30340,29790,-550,4090.0,4175.0,85.0
2,2021-01-06,2968.21,2993.34,3027.16,2961.37,30195,30490,295,4125.0,4080.0,-45.0
3,2021-01-07,3031.68,2980.75,3055.28,2980.75,30830,30515,-315,4030.0,4075.0,45.0
4,2021-01-08,3152.18,3040.11,3161.11,3040.11,31955,31185,-770,3850.0,3980.0,130.0
...,...,...,...,...,...,...,...,...,...,...,...
235,2021-12-23,2998.17,2998.02,3000.70,2980.91,30155,30200,45,4005.0,4015.0,10.0
236,2021-12-27,2999.55,3013.94,3017.31,2999.30,30235,30365,130,4000.0,3975.0,-25.0
237,2021-12-28,3020.24,3006.77,3020.29,2991.55,30445,30250,-195,3980.0,3990.0,10.0
238,2021-12-29,2993.29,3002.90,3007.72,2988.67,30545,30560,15,3980.0,3965.0,-15.0
239,2021-12-30,2977.65,2999.75,3005.36,2975.74,30325,30555,230,4005.0,3975.0,-30.0

In [6]:
state_list = []
for idx in range(len(df)):
    if idx > 59:
        this_mat = df.iloc[idx-60:idx, 0:5].to_numpy()
        for col_idx in range(1, this_mat.shape[1]):
            this_arr = this_mat[:, col_idx]
            max_val = max(this_arr)
            min_val = min(this_arr)
            for row_idx, val in enumerate(this_arr):
                new_val = (val - min_val) / (max_val - min_val)
                this_mat[row_idx, col_idx] = new_val
        state_list.append(this_mat)

state_list = np.array(state_list)
state_list.shape

#6개열 : date, KOSPI, KOSPI_START, KOSPI_HIGH, KOSPI_LOW, CAPITAL

(180, 60, 5)

In [7]:
action_names = ["KDX매수", "KDI매수"]

In [8]:
model_pred = tf.keras.Sequential([
    tf.keras.layers.Input((state_list.shape[1]*(state_list.shape[2]-1))+1),
    tf.keras.layers.Dense(units=128, activation="relu"),
    tf.keras.layers.Dense(units=128, activation="relu"),
    tf.keras.layers.Dense(units=128, activation="relu"),
    tf.keras.layers.Dense(units=128, activation="relu"),
    tf.keras.layers.Dense(units=128, activation="relu"),
    tf.keras.layers.Dense(units=2, activation="softmax")
])
model_pred.compile(optimizer=tf.keras.optimizers.Adam(), 
              loss="mse", 
              metrics=["mae", "mse"])

model_pred.summary()
model_pred.save("model_pred.h5")
model_q = tf.keras.models.load_model("model_pred.h5")

Metal device set to: Apple M1

systemMemory: 16.00 GB
maxCacheSize: 5.33 GB

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 128)               30976

 dense_1 (Dense)             (None, 128)               16512

 dense_2 (Dense)             (None, 128)               16512

 dense_3 (Dense)             (None, 128)               16512

 dense_4 (Dense)             (None, 128)               16512

 dense_5 (Dense)             (None, 2)                 258

=================================================================
Total params: 97,282
Trainable params: 97,282
Non-trainable params: 0
_________________________________________________________________

2022-04-12 20:28:11.962870: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:305] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
2022-04-12 20:28:11.962963: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:271] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)

In [9]:
from IPython.display import clear_output

dis = .2
profit_rate_goal = 1.2 #terminal 목표를 수익율 120%로 설정한다.
update_period = 120 #스테이지 120회당 1번씩 pred 모델의 웨이트를 업데이트 한다.
copy_period = 180
cnt_for_update = 0
cnt_for_copy = 0
episodes = 5000
batch_buffer = []
reward_list = []
result = []
temp_var = False
for episode in range(1, episodes+1):
    clear_output(wait=True)
    
    #변수 초기화
    capital = 1000 * 10000 #천만원으로 시작
    remain_cash = capital
    done = False

    for state_idx, state in enumerate(state_list):
        cnt_for_update += 1
        cnt_for_copy += 1

        #update_period 횟수가 되면 pred 모델을 학습시키고 저장한다.
        if cnt_for_update+1 == update_period:
            batch_buffer = np.array(batch_buffer, dtype=np.float64)
            batch_buffer = batch_buffer.reshape(batch_buffer.shape[0], batch_buffer.shape[2])

            reward_list = np.array(reward_list, dtype=np.float64)
            batch_list = np.hstack([batch_buffer, reward_list])
            training_data = batch_list
            
            # training_data = []
            # sample_idx = np.random.choice(batch_list.shape[0], 32)
            # for idx in sample_idx:
            #     training_data.append(batch_list[idx])
            # training_data = np.array(training_data)

            model_pred.fit(training_data[:, :-2], training_data[:, -2:], verbose=0, batch_size=32)
            model_pred.save("model_pred.h5")
            batch_buffer = [] #업데이트 한 후 미니배치(x)를 초기화한다.
            reward_list = [] #업데이트 한 후 보상값(y)을 초기화한다.
            cnt_for_update = 0
            # print("모델 업데이트")

        #특정 시점(copy_period)가 되면 q모델을 pred모델로부터 복제해 온다.
        if cnt_for_copy+1 == copy_period:
            model_q = tf.keras.models.load_model("model_pred.h5")
            cnt_for_copy = 0
            # print("모델 복제")

        #현재 스테이트의 정보를 불러온다. (60행 * 4열)
        state_data = np.array(state[:, 1:], dtype=np.float64)

        #flatten => 240행
        state_data = state_data.reshape(state_data.shape[0]*state_data.shape[1])

        #현재 수익율(=잔고)을 마지막 요소로 입력 => 241행 / 추후 액션 갯수를 더 늘리기 위해 작업해 놓는것... (매도/홀딩 액션 감안)
        state_data = np.append(state_data, remain_cash / capital)
        state_data = np.expand_dims(state_data, 0)
        batch_buffer.append(state_data) #pred 학습을 위해 먼저 미니배치 버퍼에 x를 넣어놓는다.

        #Q 모델에게 물어본다.
        pred = model_q.predict(state_data)
        action_selected = np.argmax(pred[0])
        action_name_org = action_names[action_selected]

        #exploration을 위해 에피소드 초기에는 랜덤하게 액션을 선택하게 한다.
        e = 1. / (((episode*0.6) / 100) + 1)
        if np.random.rand(1) < e:
            action_selected = random.randrange(0, 2)
        action_name = action_names[action_selected]

        #다음날의 데이터를 불러온다.
        snd_state_idx = df.loc[(df["date"] == state[-1, 0])].index[0] + 1
        sec_state_data = df.loc[snd_state_idx]

        #액션별 수익을 계산한다.
        buy_cnt_kdx = np.floor(remain_cash / sec_state_data["KODEX_OPN"])
        profit_kdx = (buy_cnt_kdx * (sec_state_data["KODEX_CLS"] - sec_state_data["KODEX_OPN"]))
        remain_cash_kdx = remain_cash + profit_kdx
        snd_profit_rate_kdx = remain_cash_kdx / capital
        reward_kdx = (snd_profit_rate_kdx - (1 - profit_rate_goal)) / (profit_rate_goal - (1-profit_rate_goal))

        buy_cnt_kdi = np.floor(remain_cash / sec_state_data["KODEX_INV_OPN"])
        profit_kdi = (buy_cnt_kdi * (sec_state_data["KODEX_INV_CLS"] - sec_state_data["KODEX_INV_OPN"]))
        remain_cash_kdi = remain_cash + profit_kdi
        snd_profit_rate_kdi = remain_cash_kdi / capital
        reward_kdi = (snd_profit_rate_kdi - (1 - profit_rate_goal)) / (profit_rate_goal - (1-profit_rate_goal))

        #액션을 취하고 액션별 수익을 반영한다. (다음날 시작 가격으로 매수 혹은 매도)
        if action_name == "KDX매수":
            profit = profit_kdx
            remain_cash = remain_cash_kdx
            reward = reward_kdx
        elif action_name == "KDI매수":
            profit = profit_kdi
            remain_cash = remain_cash_kdi
            reward = reward_kdi

        #수익율을 계산해 본다.
        snd_profit_rate = remain_cash / capital

        if state_idx == len(state_list)-2: #마지막 스테이트라면 (실제로는 마지막 스테이트 이전이지만)
            done = True
        else:
            #수익율이 상한선에 다다르면 reward는 2, 하한선에 다달았다면 reward를 0으로 주고 에피소드를 종료한다.
            if snd_profit_rate >= profit_rate_goal:
                reward = 2
                done = True
            elif snd_profit_rate <= 0.99: #하한선을 0.99로 한다
                reward = 0
                done = True
            else:
                #이틀 뒤의 데이터를 불러온다.
                trd_state_data = state_list[state_idx+2]

                #model_q에 물어봐서 이틀뒤의 가장 높은 이익을 구해 보상값을 업데이트해 준다.
                trd_state_data = trd_state_data[:, 1:]

                #flatten => 1행 240열
                trd_state_data = trd_state_data.reshape(trd_state_data.shape[0]*trd_state_data.shape[1])

                #현재 수익율을 마지막 요소로 입력 => 241행
                trd_state_data = np.append(trd_state_data, remain_cash / capital)
                trd_state_data = np.expand_dims(trd_state_data, 0)
                trd_state_data = trd_state_data.astype(float)

                trd_pred = model_q.predict(trd_state_data)
                trd_reward = np.max(trd_pred[0]) #0~1사이 값으로 출력될 것
                reward = reward + (dis * trd_reward)
                # if reward > 1: #제한을 걸어야 하나 말아야 하나...
                #     reward = 1

        if action_name == "KDX매수":
            this_reward_list = [reward, reward_kdi]
            
        elif action_name == "KDI매수":
            this_reward_list = [reward_kdx, reward]

        #보상을 reward_list에 반영한다. (y값이 될 것)
        reward_list.append(this_reward_list)

        print("\n\n[EPISODE{}, S{} : {} → {}] {} {}".format(
            episode, state_idx, action_name_org, action_name, pred[0], this_reward_list), end="\r")
        print("\n잔고 : {:,d}원".format(int(remain_cash), end="\r"))

        if done is True:
            result.append({
                "EPISODE" : episode,
                "MAX. STATE" : state_idx,
                "잔고" : remain_cash,
                "수익" : remain_cash - capital,
                "수익율" : remain_cash / capital
            })
            break

    df_result = pd.DataFrame(result)
    df_result.to_excel("result.xlsx", index=False)

[EPISODE5000, S0 : KDI매수 → KDI매수] [0.44780958 0.5521905 ] [0.8541342857142856, 0.9708581477219718]
잔고 : 10,052,480원


[EPISODE5000, S1 : KDI매수 → KDI매수] [0.45191064 0.5480893 ] [0.8620164285714286, 0.9714675327600752]
잔고 : 10,039,340원


[EPISODE5000, S2 : KDI매수 → KDI매수] [0.4501664 0.5498336] [0.8607353571428572, 0.974461791607993]
잔고 : 10,026,235원


[EPISODE5000, S3 : KDI매수 → KDI매수] [0.4424261 0.5575739] [0.8541139285714285, 0.9740641743986949]
잔고 : 10,078,655원


[EPISODE5000, S4 : KDI매수 → KDI매수] [0.42278504 0.57721496] [0.8589482142857143, 0.9742876340702602]
잔고 : 10,104,935원


[EPISODE5000, S5 : KDX매수 → KDX매수] [0.55651444 0.4434856 ] [0.9825134483201164, 0.8552667857142857]
잔고 : 10,196,575원


[EPISODE5000, S6 : KDX매수 → KDX매수] [0.548243 0.451757] [0.9812498712403434, 0.8673510714285714]
잔고 : 10,209,175원


[EPISODE5000, S7 : KDX매수 → KDI매수] [0.55664665 0.4433534 ] [0.8734296428571429, 0.9794080484117781]
잔고 : 10,182,175원


[EPISODE5000, S8 : KDX매수 → KDX매수] [0.5458316  0.45416835] [0.9756898362677437, 0.8730567857142857]
잔고 : 10,154,185원


[EPISODE5000, S9 : KDX매수 → KDX매수] [0.5462649 0.4537351] [0.9772047954804558, 0.8671967857142857]
잔고 : 10,106,135원


[EPISODE5000, S10 : KDX매수 → KDX매수] [0.5376801  0.46231988] [0.982437458594186, 0.8580489285714286]
잔고 : 10,180,535원


[EPISODE5000, S11 : KDI매수 → KDI매수] [0.43759596 0.56240404] [0.8607082142857143, 0.987918258290972]
잔고 : 10,301,855원


[EPISODE5000, S12 : KDI매수 → KDI매수] [0.43801364 0.5619863 ] [0.8766660714285714, 0.9903031457928249]
잔고 : 10,315,390원


[EPISODE5000, S13 : KDX매수 → KDX매수] [0.54607385 0.45392615] [0.9932226129913331, 0.8748689285714286]
잔고 : 10,364,835원


[EPISODE5000, S14 : KDX매수 → KDX매수] [0.5531592  0.44684082] [1.0006014435195922, 0.8783328571428571]
잔고 : 10,420,485원


[EPISODE5000, S15 : KDX매수 → KDX매수] [0.55009735 0.4499027 ] [1.0003797833197456, 0.8861903571428571]
잔고 : 10,417,315원


[EPISODE5000, S16 : KDI매수 → KDI매수] [0.43288046 0.5671195 ] [0.8794789285714286, 1.0065611573546274]
잔고 : 10,513,880원


[EPISODE5000, S17 : KDI매수 → KDI매수] [0.4328528 0.5671472] [0.8916228571428573, 1.011471558658055]
잔고 : 10,583,030원


[EPISODE5000, S18 : KDI매수 → KDI매수] [0.43643448 0.56356555] [0.8962903571428572, 1.0137960920306615]
잔고 : 10,638,210원


[EPISODE5000, S19 : KDI매수 → KDI매수] [0.43658486 0.56341517] [0.8987575000000001, 1.0174004398618426]
잔고 : 10,679,550원


[EPISODE5000, S20 : KDX매수 → KDX매수] [0.55533844 0.44466162] [1.0222448630877903, 0.8997764285714286]
잔고 : 10,747,550원


[EPISODE5000, S21 : KDX매수 → KDX매수] [0.5585902  0.44140977] [1.0304301227433341, 0.9035792857142857]
잔고 : 10,863,150원


[EPISODE5000, S22 : KDX매수 → KDX매수] [0.5585261  0.44147396] [1.0316636786733355, 0.9127042857142856]
잔고 : 10,905,650원


[EPISODE5000, S23 : KDX매수 → KDX매수] [0.5581678 0.4418322] [1.0399525852421352, 0.9135692857142858]
잔고 : 11,020,570원


[EPISODE5000, S24 : KDX매수 → KDX매수] [0.5491559 0.4508441] [1.0388286740657262, 0.938415]
잔고 : 10,995,070원


[EPISODE5000, S25 : KDX매수 → KDX매수] [0.5495598 0.4504403] [1.0276466104670934, 0.9395846428571429]
잔고 : 10,839,915원


[EPISODE5000, S26 : KDX매수 → KDX매수] [0.5530493  0.44695064] [1.031538814680917, 0.9151567857142857]
잔고 : 10,902,375원


[EPISODE5000, S27 : KDX매수 → KDX매수] [0.5525483  0.44745168] [1.0366138267244611, 0.917589642857143]
잔고 : 10,955,850원


[EPISODE5000, S28 : KDX매수 → KDX매수] [0.54970235 0.45029762] [1.0270584153665816, 0.9325403571428572]
잔고 : 10,840,945원


[EPISODE5000, S29 : KDX매수 → KDX매수] [0.5559866  0.44401345] [1.0355046769823348, 0.9092075000000001]
잔고 : 10,947,275원


[EPISODE5000, S30 : KDI매수 → KDI매수] [0.45076358 0.5492365 ] [0.9255446428571429, 1.032298246953147]
잔고 : 10,904,735원


[EPISODE5000, S31 : KDI매수 → KDI매수] [0.44650286 0.55349714] [0.9170171428571429, 1.0377200572804042]
잔고 : 10,976,085원


[EPISODE5000, S32 : KDI매수 → KDI매수] [0.44734362 0.5526564 ] [0.9250096428571429, 1.0377040951565333]
잔고 : 10,976,085원


[EPISODE5000, S33 : KDI매수 → KDI매수] [0.44571579 0.5542842 ] [0.9274792857142857, 1.033753739139012]
잔고 : 10,918,925원


[EPISODE5000, S34 : KDI매수 → KDI매수] [0.4457939 0.5542061] [0.9227803571428571, 1.0354681131444659]
잔고 : 10,947,545원


[EPISODE5000, S35 : KDI매수 → KDI매수] [0.44513384 0.5548662 ] [0.9223746428571429, 1.0362000886699132]
잔고 : 10,961,855원


[EPISODE5000, S36 : KDI매수 → KDI매수] [0.44678304 0.553217  ] [0.9294096428571429, 1.0332036638777597]
잔고 : 10,918,760원


[EPISODE5000, S37 : KDI매수 → KDI매수] [0.44823235 0.5517677 ] [0.9255532142857144, 1.0291527337401254]
잔고 : 10,861,080원


[EPISODE5000, S38 : KDI매수 → KDI매수] [0.44782305 0.552177  ] [0.9166146428571429, 1.0293021506636484]
잔고 : 10,861,080원


[EPISODE5000, S39 : KDI매수 → KDI매수] [0.44747928 0.5525208 ] [0.9225967857142857, 1.0230347103691102]
잔고 : 10,774,440원


[EPISODE5000, S40 : KDI매수 → KDI매수] [0.44673154 0.55326843] [0.91329, 1.0228503770446777]
잔고 : 10,774,440원


[EPISODE5000, S41 : KDI매수 → KDI매수] [0.4471264  0.55287355] [0.91246, 1.0236555583054678]
잔고 : 10,788,880원


[EPISODE5000, S42 : KDI매수 → KDI매수] [0.44804853 0.5519515 ] [0.9103092857142857, 1.0246027893556868]
잔고 : 10,803,320원


[EPISODE5000, S43 : KDI매수 → KDI매수] [0.4491798  0.55082023] [0.9091871428571429, 1.0320883671297345]
잔고 : 10,904,120원


[EPISODE5000, S44 : KDI매수 → KDI매수] [0.44960308 0.550397  ] [0.9225653571428573, 1.0302356363214766]
잔고 : 10,875,280원


[EPISODE5000, S45 : KDI매수 → KDI매수] [0.4481717 0.5518283] [0.9225342857142858, 1.0261718709427972]
잔고 : 10,817,440원


[EPISODE5000, S46 : KDI매수 → KDI매수] [0.4471356 0.5528645] [0.9147039285714286, 1.027077949006217]
잔고 : 10,831,900원


[EPISODE5000, S47 : KDI매수 → KDI매수] [0.44679797 0.55320203] [0.9168007142857143, 1.0259324529457092]
잔고 : 10,817,420원


[EPISODE5000, S48 : KDI매수 → KDI매수] [0.44743162 0.5525685 ] [0.9189582142857143, 1.0197718358148848]
잔고 : 10,730,660원


[EPISODE5000, S49 : KDI매수 → KDI매수] [0.44798812 0.5520119 ] [0.9087489285714285, 1.020022258769444]
잔고 : 10,730,660원


[EPISODE5000, S50 : KDI매수 → KDI매수] [0.44780517 0.5521949 ] [0.9083985714285715, 1.0202967858423506]
잔고 : 10,730,660원


[EPISODE5000, S51 : KDI매수 → KDI매수] [0.44655305 0.553447  ] [0.9076878571428572, 1.0192841038376945]
잔고 : 10,716,395원


[EPISODE5000, S52 : KDI매수 → KDI매수] [0.44518012 0.5548199 ] [0.9086653571428572, 1.0173231840896606]
잔고 : 10,687,745원


[EPISODE5000, S53 : KDI매수 → KDI매수] [0.44514877 0.55485123] [0.9068478571428572, 1.0144695481845312]
잔고 : 10,644,650원


[EPISODE5000, S54 : KDI매수 → KDI매수] [0.44472092 0.5552791 ] [0.9058425000000001, 1.012358837803432]
잔고 : 10,615,920원


[EPISODE5000, S55 : KDI매수 → KDI매수] [0.44359764 0.5564024 ] [0.9012517857142858, 1.0111301278386797]
잔고 : 10,601,500원


[EPISODE5000, S56 : KDI매수 → KDI매수] [0.4438913 0.5561088] [0.8989642857142858, 1.0122167045675006]
잔고 : 10,615,920원


[EPISODE5000, S57 : KDI매수 → KDI매수] [0.44488528 0.5551147 ] [0.8977085714285714, 1.0173850946889604]
잔고 : 10,659,180원


[EPISODE5000, S58 : KDI매수 → KDI매수] [0.44460285 0.5553972 ] [0.9061821428571428, 1.0139794641086033]
잔고 : 10,630,300원


[EPISODE5000, S59 : KDI매수 → KDI매수] [0.4342106  0.56578934] [0.896107142857143, 1.0193918996156963]
잔고 : 10,716,940원


[EPISODE5000, S60 : KDI매수 → KDI매수] [0.44091994 0.5590801 ] [0.9103260714285714, 1.0193264179529462]
잔고 : 10,716,940원


[EPISODE5000, S61 : KDI매수 → KDI매수] [0.44480476 0.5551952 ] [0.908122142857143, 1.019936298362187]
잔고 : 10,702,380원


[EPISODE5000, S62 : KDI매수 → KDI매수] [0.44513324 0.5548668 ] [0.9021378571428572, 1.019636499192374]
잔고 : 10,731,380원


[EPISODE5000, S63 : KDI매수 → KDI매수] [0.4368812 0.5631189] [0.8995789285714286, 1.0296580979864938]
잔고 : 10,862,060원


[EPISODE5000, S64 : KDX매수 → KDX매수] [0.5512798  0.44872022] [1.0290127333477566, 0.9207735714285715]
잔고 : 10,845,360원


[EPISODE5000, S65 : KDX매수 → KDX매수] [0.5546979 0.4453021] [1.031547073249817, 0.9154657142857143]
잔고 : 10,885,320원


[EPISODE5000, S66 : KDX매수 → KDX매수] [0.55743444 0.44256553] [1.033741732234955, 0.9172535714285714]
잔고 : 10,920,180원


[EPISODE5000, S67 : KDX매수 → KDX매수] [0.55583483 0.44416517] [1.032816700453077, 0.9207821428571429]
잔고 : 10,930,170원


[EPISODE5000, S68 : KDX매수 → KDX매수] [0.5543585  0.44564158] [1.041775887715476, 0.9204314285714286]
잔고 : 11,030,070원


[EPISODE5000, S69 : KDX매수 → KDX매수] [0.54616743 0.45383266] [1.040114141897474, 0.9317796428571429]
잔고 : 11,008,360원


[EPISODE5000, S70 : KDI매수 → KDI매수] [0.44471642 0.5552836 ] [0.927002142857143, 1.0414624794306073]
잔고 : 11,023,015원


[EPISODE5000, S71 : KDI매수 → KDI매수] [0.44527254 0.5547275 ] [0.9352085714285714, 1.0367434873907906]
잔고 : 10,964,855원


[EPISODE5000, S72 : KDI매수 → KDI매수] [0.4437599 0.5562401] [0.9201810714285714, 1.0463154054124015]
잔고 : 11,096,390원


[EPISODE5000, S73 : KDI매수 → KDI매수] [0.44659176 0.55340827] [0.9388664285714287, 1.0405548722212654]
잔고 : 11,008,220원


[EPISODE5000, S74 : KDI매수 → KDI매수] [0.4457031 0.5542969] [0.9268785714285716, 1.0399086116981506]
잔고 : 10,993,505원


[EPISODE5000, S75 : KDI매수 → KDI매수] [0.44301802 0.55698204] [0.9194932142857143, 1.0496122465896607]
잔고 : 11,126,120원


[EPISODE5000, S76 : KDI매수 → KDI매수] [0.44099876 0.5590012 ] [0.9350300000000001, 1.0539827493558611]
잔고 : 11,170,565원


[EPISODE5000, S77 : KDI매수 → KDI매수] [0.4398409  0.56015915] [0.9434575, 1.0499283422224863]
잔고 : 11,126,240원


[EPISODE5000, S78 : KDI매수 → KDI매수] [0.4338579  0.56614214] [0.93564, 1.0471851980563573]
잔고 : 11,111,445원


[EPISODE5000, S79 : KDI매수 → KDI매수] [0.43830007 0.56169987] [0.9265453571428571, 1.0537515162631443]
잔고 : 11,214,590원


[EPISODE5000, S80 : KDI매수 → KDI매수] [0.4467355  0.55326456] [0.9452625000000001, 1.0523577869469778]
잔고 : 11,199,780원


[EPISODE5000, S81 : KDI매수 → KDI매수] [0.45073858 0.5492614 ] [0.9485257142857143, 1.0442823328345163]
잔고 : 11,081,580원


[EPISODE5000, S82 : KDI매수 → KDI매수] [0.45241633 0.54758364] [0.9425103571428571, 1.0355575193704878]
잔고 : 10,948,290원


[EPISODE5000, S83 : KDI매수 → KDI매수] [0.4505795 0.5494205] [0.9215678571428572, 1.0366812272398813]
잔고 : 10,963,105원


[EPISODE5000, S84 : KDI매수 → KDI매수] [0.4466017 0.5533983] [0.9214439285714285, 1.0403605241257805]
잔고 : 11,022,365원


[EPISODE5000, S85 : KDI매수 → KDI매수] [0.44627315 0.55372685] [0.9272975, 1.0404241699654717]
잔고 : 11,022,365원


[EPISODE5000, S86 : KDI매수 → KDI매수] [0.44904205 0.550958  ] [0.9250089285714286, 1.0483707360322134]
잔고 : 11,125,930원


[EPISODE5000, S87 : KDI매수 → KDI매수] [0.44872072 0.55127925] [0.9353614285714287, 1.0535963288361685]
잔고 : 11,199,605원


[EPISODE5000, S88 : KDI매수 → KDI매수] [0.4459774  0.55402267] [0.9393689285714286, 1.0569180992371696]
잔고 : 11,243,810원


[EPISODE5000, S89 : KDI매수 → KDI매수] [0.4461619  0.55383813] [0.9361678571428572, 1.0725328137452261]
잔고 : 11,420,630원


[EPISODE5000, S90 : KDI매수 → KDI매수] [0.4453361  0.55466396] [0.9512007142857143, 1.0844393464796884]
잔고 : 11,553,065원


[EPISODE5000, S91 : KDI매수 → KDI매수] [0.43040225 0.5695977 ] [0.9731599999999999, 1.0835341856139047]
잔고 : 11,494,125원


[EPISODE5000, S92 : KDI매수 → KDI매수] [0.41818663 0.5818134 ] [0.9502535714285715, 1.095327207170214]
잔고 : 11,640,325원


[EPISODE5000, S93 : KDI매수 → KDI매수] [0.4016506 0.5983494] [0.9602639285714286, 1.1010935448237829]
잔고 : 11,801,750원


[EPISODE5000, S94 : KDI매수 → KDI매수] [0.3948967 0.6051034] [0.9881464285714286, 1.0977638260051181]
잔고 : 11,772,140원


[EPISODE5000, S95 : KDI매수 → KDI매수] [0.42372996 0.5762701 ] [0.989617142857143, 1.0904088595744543]
잔고 : 11,667,595원


[EPISODE5000, S96 : KDI매수 → KDI매수] [0.4298031 0.5701969] [0.9748110714285714, 1.087748118408748]
잔고 : 11,652,620원


[EPISODE5000, S97 : KDI매수 → KDI매수] [0.42923984 0.5707602 ] [0.9688957142857144, 1.0944351821790423]
잔고 : 11,772,740원


[EPISODE5000, S98 : KDI매수 → KDI매수] [0.43719426 0.5628058 ] [0.9855082142857143, 1.0911837496757508]
잔고 : 11,727,875원


[EPISODE5000, S99 : KDI매수 → KDI매수] [0.44665998 0.5533401 ] [0.9772678571428571, 1.0986887056159973]
잔고 : 11,833,645원


[EPISODE5000, S100 : KDI매수 → KDI매수] [0.44689348 0.5531066 ] [0.9998403571428572, 1.0820047662135535]
잔고 : 11,606,695원


[EPISODE5000, S101 : KDI매수 → KDI매수] [0.44714472 0.5528554 ] [0.974872142857143, 1.0772871558298385]
잔고 : 11,546,335원


[EPISODE5000, S102 : KDI매수 → KDI매수] [0.4495103  0.55048966] [0.9604353571428572, 1.0831788781956264]
잔고 : 11,621,485원


[EPISODE5000, S103 : KDI매수 → KDI매수] [0.45154074 0.54845923] [0.9762042857142856, 1.0806571472985405]
잔고 : 11,576,275원


[EPISODE5000, S104 : KDI매수 → KDI매수] [0.44892186 0.5510782 ] [0.9651182142857143, 1.0874934089415413]
잔고 : 11,636,715원


[EPISODE5000, S105 : KDI매수 → KDI매수] [0.44538352 0.5546165 ] [0.9714510714285716, 1.093105807852064]
잔고 : 11,696,915원


[EPISODE5000, S106 : KDI매수 → KDI매수] [0.43278784 0.56721216] [0.9663910714285715, 1.100477497771127]
잔고 : 11,816,715원


[EPISODE5000, S107 : KDI매수 → KDI매수] [0.42622483 0.5737752 ] [0.9916207142857143, 1.0985000726863317]
잔고 : 11,771,790원


[EPISODE5000, S108 : KDI매수 → KDI매수] [0.43215397 0.56784606] [0.9904314285714286, 1.0922427110426767]
잔고 : 11,682,390원


[EPISODE5000, S109 : KDI매수 → KDI매수] [0.42599726 0.5740028 ] [0.9799564285714286, 1.0894904592023578]
잔고 : 11,652,480원


[EPISODE5000, S110 : KDI매수 → KDI매수] [0.42535543 0.57464457] [0.9743907142857143, 1.087031871209826]
잔고 : 11,637,525원


[EPISODE5000, S111 : KDI매수 → KDI매수] [0.42843357 0.5715664 ] [0.9671810714285715, 1.099087805028643]
잔고 : 11,802,690원


[EPISODE5000, S112 : KDI매수 → KDI매수] [0.43538404 0.56461596] [0.988845, 1.0959074332945689]
잔고 : 11,727,715원


[EPISODE5000, S113 : KDI매수 → KDI매수] [0.43409368 0.56590635] [0.9825492857142858, 1.0892650152642387]
잔고 : 11,653,415원


[EPISODE5000, S114 : KDI매수 → KDI매수] [0.42322114 0.5767788 ] [0.9733989285714286, 1.0911926326915196]
잔고 : 11,698,115원


[EPISODE5000, S115 : KDI매수 → KDI매수] [0.42989427 0.5701058 ] [0.9810939285714285, 1.088105210345132]
잔고 : 11,653,475원


[EPISODE5000, S116 : KDI매수 → KDI매수] [0.4362205  0.56377953] [0.9632557142857143, 1.1051373656027659]
잔고 : 11,787,215원


[EPISODE5000, S117 : KDI매수 → KDI매수] [0.43571746 0.5642826 ] [0.9893267857142858, 1.1250220574297225]
잔고 : 11,816,605원


[EPISODE5000, S118 : KDI매수 → KDI매수] [0.39831904 0.601681  ] [0.9900464285714285, 1.1257737523841858]
잔고 : 11,728,645원


[EPISODE5000, S119 : KDI매수 → KDI매수] [0.3093977 0.6906023] [0.9665403571428571, 1.152019874597277]
잔고 : 11,888,860원


[EPISODE5000, S120 : KDI매수 → KDI매수] [0.27417356 0.72582644] [0.9872528571428572, 1.1403680330113002]
잔고 : 11,961,160원


[EPISODE5000, S121 : KDI매수 → KDI매수] [0.20020695 0.79979306] [0.9774678571428572, 2]
잔고 : 12,208,170원